a:link {
  font-family: Arial,Helvetica,sans-serif;
  color: red;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid red;
  font-family: Arial,Helvetica,sans-serif;
  color: red;
  text-decoration: underline;
}
a:visited {
  font-family: Arial,Helvetica,sans-serif;
  color: red;
  text-decoration: none;
}
